@media (max-width: 760px) {
  .about-me {
    margin-bottom: 0;
    margin-top: 10px;
    flex: 0.67;
    margin-bottom: 0;
    margin-left: -10px;
  }

  .socials {
    gap: 36px;
  }

  .site-button-mobile {
    display: block;
    margin: -20px auto 15px auto;
  }

  .site-button {
    display: none;
  }
}
