.guestbook-title {
  margin-bottom: -5px;
}

.visitor-count {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.blog-list form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 4rem;
}

.name-input, .comment-input {
  padding: 0.5rem;
  padding-left: 0.8rem;
  border: 2px solid rgba(26, 26, 26, 0.25);
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1rem;
  outline: none;
  transition: all 0.1s linear;
  text-shadow: 1px 1.5px 3px black;
  backdrop-filter: blur(10px) saturate(1.5);
  -webkit-backdrop-filter: blur(10px) saturate(1.5);
}

.name-input:hover, .comment-input:hover {
  border: 2px solid rgba(255, 79, 0, 0.25);
}

.name-input:focus, .comment-input:focus {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px) saturate(0);
  -webkit-backdrop-filter: blur(20px) saturate(0);
  border: 2px solid rgba(255, 79, 0, 0.5);
}

.comment-input {
  resize: vertical;
  min-height: 25px;
  max-height: 150px;
}

.submit-button {
  height: 30px;
  width: 100%;
  background: rgba(255, 79, 0, 0.75);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.25s;
  backdrop-filter: blur(10px) saturate(1.5);
  -webkit-backdrop-filter: blur(10px) saturate(1.5);
}

.submit-button:hover {
  background: rgba(255, 79, 0, 1);
}

.submit-button:active {
  transform: scale(0.95);
  background: rgba(0, 0, 0, 1);
}

.comment-content {
  margin-bottom: -40px;
}

.comment-date {
  margin-top: 3rem !important;
  margin-bottom: 5rem !important;
}

.like-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.like-count {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 2.5px;
  margin-left: 6px;
}

.comment-separator {
  color: #ff4f00;
  margin-top: -50px !important;
  margin-bottom: 70px !important;
}

.chattable-iframe {
  width: 100%;
  min-height: 70vh;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-height: 730px) {
  .chattable-iframe {
    min-height: 450px;
  }
}

@media (max-height: 685px) {
  .chattable-iframe {
    min-height: 375px;
  }
}

@media (max-height: 610px) {
  .chattable-iframe {
    min-height: 325px;
  }
}

@media (max-height: 560px) {
  .chattable-iframe {
    min-height: 275px;
  }
}

@media (max-height: 510px) {
  .chattable-iframe {
    min-height: 225px;
  }
}

@media (max-height: 455px) {
  .chattable-iframe {
    min-height: 175px;
  }
}

@media (max-height: 400px) {
  .chattable-iframe {
    min-height: 150px;
  }
}