aside {
  flex: 0.3;
  margin-right: 40px;
  border-right: 1px solid #ff4f00;
}

aside h1 {
  font-size: 1.19rem;
  margin: 0;
  margin-bottom: 0.5px;
  padding: 0;
}

aside h2 {
  font-size: 1.05rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
}

.aside-links {
  text-decoration: none;
}
