@media (max-width: 760px) {
  .blog-list {
    margin-top: 10px;
    flex: 0.70;
    margin-left: -10px;
    overflow-x: hidden;
  }

  .post-content a {
    white-space: unset;
  }

  .new-position {
    margin-top: 2rem !important;
    right: 90% !important;
  }

  .media-gallery {
    scroll-snap-type: none;
  }

  .media-gallery:hover {
    background-color: #363636;
  }

  .media-gallery iframe {
    width: 600px;
    height: 300px;
    border: none;
  }

  .blog-media {
    scroll-snap-align: center;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: contain;
  }

  @media (max-width: 460px) {
    .youtube-placeholder div {
      transform: translate(-50%, -45%);
      font-size: 2rem;
      padding: 0 15px;
      border-radius: 50%;
    }

    .youtube-placeholder div span {
      display: none;
    }
  }
}
