* {
  font-family: system-ui, "Segoe UI", sans-serif;
  line-height: 1.9em;
  font-size: 0.82rem;
}

html,
body {
  margin: 0;
}

html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px) brightness(0.4);
  transition: background-image 0.5s ease-in-out;
}

html::before {
  background-image: var(--bg-image);
}

html {
  display: flex;
  justify-content: center;
  background-color: black;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 720px;
  background-color: transparent;
}

h1,
h2,
p,
div,
a {
  color: white;
}

a {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: #ff4f00;
  text-underline-offset: 2px;
  transition: all 0.1s linear;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  border-bottom: none;
  position: relative;
  color: #ff4f00;
  opacity: 0.9;
}

a:hover::after {
  content: "";
  position: absolute;
  left: -1%;
  right: 0;
  bottom: 0;
  height: 0px;
  width: 100.5%;
  background: white;
  pointer-events: none;
}

.main-area {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 901px) {
  ::selection {
    background-color: rgba(0, 0, 0, 1);
    color: #ff4f00;
  }

  .website-link::selection {
    color: blanchedalmond;
  }

  a:hover::selection {
    color: white;
  }
}

@media (max-width: 1040px) {
  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}

@media (max-width: 760px) {
  html {
    width: 100vw;
    padding: 0;
    margin: 0;
  }

  body {
    width: 100%;
  }

  .main-area {
    padding-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 330px) {
  html {
    overflow-x: auto;
  }
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #444 #111;
  }

  *::-webkit-scrollbar {
    background-color: #111;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #444;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
