.comments-page-title {
  margin-bottom: 1rem !important; 
  cursor: default !important;
}

.comments-page-title a {
  text-decoration: none;
  text-decoration-thickness: 0;
  transition: all 0.1s;
}

.comments-page-title a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ff4f00;
  text-underline-offset: 2px;
  color: unset;
}
